RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php



#ErrorDocument 403 :http//




#ErrorDocument 404 /404.php
Options All -Indexes
#Options -Indexes


#Order Allow,Deny
#Deny from all
#<Files "index.php">
    #Order Deny,Allow
    #Allow from all
#</Files>



#401 Авторизация не выполнена
#ErrorDocument 401 http://domain.ru/errors/401.html
#403 Доступ запрещен
ErrorDocument 403 http://localhost/PhotoLists/index.php
#404 Страница не найдена
#ErrorDocument 404 http://domain.ru/errors/404.html
#500 Внутренняя ошибка сервера
#ErrorDocument 500 http://domain.ru/errors/500.html

#Options -Indexes
#Order Deny,Allow 
#Allow from all